<h1>Admin Panel</h1>
<row class="row justify-content-center">
  <div class="col-4">
    <div class="list-group">
      <%= link_to 'Users', admin_panel_users_path, :class => "list-group-item list-group-item-action" %>
      <%= link_to 'Pending Instructors', admin_panel_pending_instructors_path, :class => "list-group-item list-group-item-action" %>
    </div>
  </div>
</row>


