<h1>About Bacui</h1>
<p>Bacui is a peer-assessment tool which can facilitate peer evaluation in different settings. It is especially designed to facilitate peer nomination.</p>
<p>Peer nomination is the process when a participant review others, or others' artifact, (s)he only need to nominate the best, but does not need to give any
numerical score, or ordinal rankings for the remaining.</p>
<p>The name "Bacui" is an acient Chinese word meaning "to pick the best".</p>
