<h1>Participants in Course "<%=@course.title %>"</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=user.first_name %>, <%=user.last_name %></td>
        <td><%=user.email %></td>
      </tr>
    <% end %>
  <tbody>
</table>


